<h1>Latest Pastries Hot out of the oven!</h1>

<section class="pastries">
	<% @pastries.each do |pastry| %>
		<div class="pastry">
		<p><%= pastry[:name] %></p>
		<p><%= pastry[:price_in_pence] %></p>
		<p><%= pastry[:description] %></p>
		</div>
	<% end %>
</section>